<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>17000029</integer>
		<key>title</key>
		<string>Happiness</string>
		<key>imageName</key>
		<string>xi</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17000030</integer>
		<key>title</key>
		<string>Anger</string>
		<key>imageName</key>
		<string>nu</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17000031</integer>
		<key>title</key>
		<string>Melancholy</string>
		<key>imageName</key>
		<string>you</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17000032</integer>
		<key>title</key>
		<string>Think</string>
		<key>imageName</key>
		<string>si</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17000033</integer>
		<key>title</key>
		<string>Sadness</string>
		<key>imageName</key>
		<string>bei</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17000034</integer>
		<key>title</key>
		<string>Fear</string>
		<key>imageName</key>
		<string>kong</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17000035</integer>
		<key>title</key>
		<string>Boggle</string>
		<key>imageName</key>
		<string>jing</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17000036</integer>
		<key>title</key>
		<string>Emptiness</string>
		<key>imageName</key>
		<string>wu</string>
	</dict>
</array>
</plist>
